/* public/css/style.css */
body { font-family: Georgia, "Times New Roman", serif; }
.blog-header-logo { font-family: "Playfair Display", Georgia, "Times New Roman", serif; font-size: 2.25rem; }
.display-4 { font-family: "Playfair Display", Georgia, "Times New Roman", serif; }
.blog-footer { padding: 2.5rem 0; color: #727272; text-align: center; border-top: .05rem solid #e5e5e5; }
